{% extends "base.html" %}

{% block 'content' %}
<div>
    <content id="contacto">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-12 col-12 pb-5 pt-5">
                <h3>Formulario de contacto</h3>
                <hr>
                <form id="formulario" action="contacto" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_customer_name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="id_customer_name" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_customer_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="id_customer_email" placeholder="Ingresa tu mail" required>
                        <div id="emailHelp" class="form-text">Nunca compartiremos tus datos.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_message" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="id_message" name="message" rows="3" placeholder="Ingresa tu mensaje" required></textarea>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </content>
  </div>
{% endblock %}